# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.env/
.venv/
.env/
ENV/


# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Data / temp
data/*.csv
data/*.parquet
*.tmp

# Ignore settings file
settings.yaml

.env
Outreach_Engine.xlsx
